{% extends 'index.html'%}

{% block b1 %}

<br>
<h3>Change Password</h3>
<form method="post" action="{% url 'checkchangepassword' %}">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <td><label>Enter name</label></td>
                <td> <input type="text"  name="uname" required></td>
            </tr>
            <tr>
                <td><label>Enter Old Password</label></td>
                <td><input type="password" name="opwd" required></td>
            </tr>
            <tr>
                <td><label>Enter New Password</label></td>
                <td><input type="password" name="npwd" required></td>
            </tr>
            <tr>
                <td><input type="submit" name="signup" value="SignUp"></td>
                <td><input type="reset" name="reset" value="Reset"></td>
            </tr>
        </table>
</form>

{% endblock %}