{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME TO STUDENT GRADE/RESULTS MANAGEMENT SYSTEM</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h2 align="center"><font color="green"> Student Results Management System</font></h2>
<a href="Home">HomePage</a>&nbsp &nbsp
<a href="Register">Sign-up</a>&nbsp &nbsp
<a href="login">login</a> &nbsp &nbsp
<a href="changepassword">Change-password</a> &nbsp &nbsp
<a href="contact">contact</a> &nbsp &nbsp
<a href="about">about</a>

{% block b1 %}
{% endblock %}

<!-- Add imaege -->


</body>
</html>
